<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>SymBNB -{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}
        <link href="/public/css/boostrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="/public/css/app.css" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    {% endblock %}

</head>

<body>
{% include 'partials/header.html.twig' %}

{% block body %}

{% endblock %}

{% include 'partials/footer.html.twig' %}

{% block javascripts %}

    <script src="/public/js/jquery-3.3.1.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/boostrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

{% endblock %}
</body>
</html>
