{% extends "base.html.twig" %}

{% block title %}
    Bienvenuti a la reteaua meiora d apartamento ...
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenu sur SymBNB</h1>
            <p class="lead">We are here to help you find opportunities to rent a location at the best price. We have
                selectionated the best for you.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorum, hic impedit iusto nesciunt
                recusandae rerum temporibus ut? Dicta expedita iste non similique! Aspernatur deleniti ex incidunt nemo
                odio perspiciatis.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
            </p>
        </div>

        <h2 class="h1 my-5">Nos appartements star de star</h2>

        <div class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad': data.annonce, } %}
            {% endfor %}
        </div>

        <h2 class="my-5">Nos proprio star</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Beniamin Tolan
                        </h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de benjito" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, iste?</p>
                            <a href="#" class="btn btn-success float-right">Courieux ...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Beniamin Tolan
                        </h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de benjito" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, iste?</p>
                            <a href="#" class="btn btn-success float-right">Courieux ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}