{% extends 'base.html.twig' %}

{% block title %}Creation d'une nouvelle annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="my-3">Creer une annonce</h1>


        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Creer la nouvelle annonce</button>

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascript %}
    {#{{ parent() }}#}
    <script src="/public/js/ad.js"></script>
{% endblock %}
