{% extends 'base.html.twig' %}

{% block title %}Creation d'une nouvelle annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Creer une annonce</h1>
        <div class="row">

        </div>
    </div>
{% endblock %}
